<!DOCTYPE html>
<html class=" -webkit-">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
        <meta content="telephone=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <title>新浪博客 </title>
        <link rel="apple-touch-icon-precomposed" href="http://img.mjs.sinajs.cn/mblog/v1/style/images/icon_touch.png?ver=145564">
        <link href="http://img.mjs.sinajs.cn/mblog/v1/style/css/pages/pages.css?ver=145564" type="text/css" rel="stylesheet">
    </head>
    <body style="overflow-x: hidden;background-color:#F3F3F3;">
        <div id="layout-root" style="width: 100%; min-height: 872px; overflow: hidden;">
            <div id="layout-root-pllist">
                <div class="f-wraper" id="layout-base" style="position: relative; width: 100%; z-index: 20;">
                    <div class="f-wrap" id="layout-base-pllist" data-box="init-view" style="min-height: 866px;">
                        <header class="bl-header" id="pl-navigation" style="z-index: 60; position: absolute; top: 0px; left: 0px;">
                        <div class="menu clearfix"></div>
                        </header>
                        <div id="layout-content">
                            <div id="layout-content-pllist" style="overflow-y: hidden; height: auto;">
                                <article class="bl-content" id="pl-exception">
                                <div class="article-mark">
                                    <div class="mark">
                                        <div class="b-ft-icon" data-role="icon">S</div>
                                        <div data-role="message" class="txt b-txt3">
                                            系统繁忙，请稍后再试<br><br>
                                            如有疑问请拨打客服：4006900000
                                        </div>
                                    </div>
                                </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <body>
</html>
