<!DOCTYPE html>
{%extends 'base.html'%}
{% block content_row %}

								<div class="row">

									<div class="col-sm-7">
										<div class="space-6"></div>

										<div class="widget-box">
											<div class="widget-header widget-header-small">
												<h5 class="lighter">域名数据录入</h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<form class="form-search">
														<div class="row">
															<div class="col-xs-12 col-sm-8">
																<div class="input-group">
																	<input type="text" class="form-control search-query" placeholder="输入你需要添加的域名" />
																	<span class="input-group-btn">
																		<button type="button" class="btn btn-purple btn-sm">
																			添加
																			<i class="icon-exchange icon-on-right bigger-110"></i>
																		</button>
																	</span>
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
{% endblock %}