<!DOCTYPE html>
{%extends 'base.html'%}
{% block content_row %}
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="header smaller lighter blue">DomainInfo Query</h3>
                                        <form class="form-search" action="{{URL_ROOT}}/resource/domain/data/queryinfo/" role="form" method="POST">{% csrf_token %}
                                        <div class="input-group">
                                            <input name="dname" type="text" class="form-control search-query" placeholder="输入你需要查询的域名" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-purple btn-sm J_get_domain_info">
                                                    查看
                                                    <i class="icon-eye-open bigger-110"></i>
                                                </button>
                                            </span>
                                        </div>
                                        </form>
                                        <div class="space-4"></div>

                                        <div class="table-header">
                                        </div>

                                        <div class="table-responsive">
                                            <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                </thead>

                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
jQuery(function($) {
    var oTable1 = $('#sample-table-2').dataTable({
         "iDisplayLength": 10,
        "sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>tr<'row'<'col-lg-6'i><'col-lg-6'p>>",
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "oPaginate": {
                "sPrevious": "Prev",
                "sNext": "Next"
            }
        },
        "aoColumns": [
        { "bSortable": false },
        null, null,null, null, null,
        { "bSortable": false }
        ]
    });

    $('table th input:checkbox').on('click' , function(){
        var that = this;
        $(this).closest('table').find('tr > td:first-child input:checkbox')
        .each(function(){
            this.checked = that.checked;
            $(this).closest('tr').toggleClass('selected');
        });
    });

    $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
    function tooltip_placement(context, source) {
        var $source = $(source);
        var $parent = $source.closest('table')
        var off1 = $parent.offset();
        var w1 = $parent.width();

        var off2 = $source.offset();
        var w2 = $source.width();

        if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
        return 'left';
    }
})

// 填充表格
function makeTable(data, type){
    if(!data) return;
    type = type||'';
    var t_title = tbody_html = thead_html = modal_footer = tr = '';
    if (type == 'domain') {
        thead_html = '\
                <tr>\
                    <th class="center">\
                        <label>\
                            <input type="checkbox" class="ace" />\
                            <span class="lbl"></span>\
                        </label>\
                    </th>\
                    <th class="center">dname</th>\
                    <th class="center">dynamic</th>\
                    <th class="center">attach</th>\
                    <th class="center">Type</th>\
                    <th class="center">Data</th>\
                    <th class="center">Gname</th>\
                    <th class="center">Enabled</th>\
                </tr>';

        for(var i =0;i<data.length;i++){
            tr = '<tr>' 
                     + '<td class="center"><label><input type="checkbox" name="dinfo" value="' + i + '" /><span class="lbl"></span></label></td>'
                     + '<td class="center j_dinfo"><input type ="hidden" disabled name="dname_' + i + '" value="' + data[i].dname + '">' + data[i].dname + '</td>'
                     + '<td class="center j_dinfo"><input type ="hidden" disabled name="dynamic_' + i + '" value="' + data[i].dynamic + '">' + data[i].dynamic + '</td>'
                     + '<td class="center j_dinfo"><input type ="hidden" disabled name="attach_' + i + '" value="' + data[i].attach + '">' + data[i].attach + '</td>'
                     + '<td class="center j_dinfo"><input type ="hidden" disabled name="type_' + i + '" value="' + data[i].type + '">' + data[i].type + '</td>'
                     + '<td class="center j_dinfo"><input type ="hidden" disabled name="data_' + i + '" value="' + data[i].data + '">' + data[i].data + '</td>'
                     + '<td class="center j_dinfo"><input type ="hidden" disabled name="gname_' + i + '" value="' + data[i].gname + '">' + data[i].gname + '</td>'
                     + '<td class="center j_dinfo"><input type ="hidden" disabled name="enabled_' + i + '" value="' + data[i].enabled + '">' + data[i].enabled + '</td>'
                     + '</tr>';
            tbody_html = tbody_html + tr;
        }
        modal_footer = '\
                    <button class="btn btn-sm" data-dismiss="modal">\
                        <i class="icon-remove"></i>\
                        Cancel\
                    </button>\
                    <button class="btn btn-sm btn-primary J_add_domain_info">\
                        <i class="icon-ok"></i>\
                        Save\
                    </button>\
                    <button name="force_add" value="1" class="btn btn-sm btn-primary J_add_domain_info">\
                        <i class="icon-ok"></i>\
                        Save+\
                    </button>\
        ';
        t_title = '域名访问分组信息';
    } else {
        thead_html = '\
                <tr>\
                    <th class="center">dname</th>\
                    <th class="center">dynamic</th>\
                    <th class="center">attach</th>\
                    <th class="center">Type</th>\
                    <th class="center">Data</th>\
                    <th class="center">Gname</th>\
                    <th class="center">Enabled</th>\
                </tr>';

        for(var i =0;i<data.length;i++){
            tr = '<tr>' 
                     + '<td class="center j_dinfo">' + data[i].dname + '</td>'
                     + '<td class="center j_dinfo">' + data[i].is_dynamic + '</td>'
                     + '<td class="center j_dinfo">' + data[i].app + '</td>'
                     + '<td class="center j_dinfo">' + data[i].type + '</td>'
                     + '<td class="center j_dinfo">' + data[i].data + '</td>'
                     + '<td class="center j_dinfo">' + data[i].view + '</td>'
                     + '<td class="center j_dinfo">' + data[i].status + '</td>'
                     + '</tr>';
            tbody_html = tbody_html + tr;
        }

        modal_footer = '\
                    <button class="btn btn-sm" data-dismiss="modal">\
                        <i class="icon-remove"></i>\
                        Cancel\
                    </button>\
                    <button class="btn btn-sm btn-primary J_add_domain_info">\
                        <i class="icon-ok"></i>\
                        Save\
                    </button>\
                    <button name="force_add" value="1" class="btn btn-sm btn-primary J_add_domain_info">\
                        <i class="icon-ok"></i>\
                        Save+\
                    </button>\
        ';

        t_title = '域名访问分组信息';
    }
    $(".table-header").html(t_title);
    $("#sample-table-2 tbody").html(tbody_html);
    $("#sample-table-2 thead").html(thead_html);
}

$('.J_get_domain_info').on("click",function(){
    var $form = $(this).parents("form");
    $form.ajaxSubmit({
        dataType:'json',
        success:function(r){
            try{
                if(r.code){
                    makeTable(r.data, '');
                    // $('#aaa').trigger('click');
                    // $('#zj-modal-table').trigger('click');
                }else if(!data.msg){
                    alert("网络异常！");
                }else{
                    alert(data.msg);
                }
            }catch(err){
                console.log(err);
            }
        }
    });
});
</script>
{% endblock %}